---
import {
  Layout,
  Header,
  Hero,
  Services,
  Products,
  About,
  ClientsCarousel,
  Contact,
  Footer,
} from "../components";
---

<Layout title="Dyallab - Infrastructure and Development Solutions">
  <div class="min-h-screen flex flex-col">
    <Header />
    <Hero />
    <Services />
    <Products />
    <About />
    <ClientsCarousel />
    <Contact />
    <Footer />
  </div>
</Layout>
